.react-autosuggest__container {
	display: inline-block;
	position: relative;
}

.react-autosuggest__input {
	margin: 0;
	width: 10vw;
	padding: 5px;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 4px 0px 0px 4px;
}

.react-autosuggest__input--focused {
	outline: green;
}

.react-autosuggest__input--open {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
	display: none;
}

.react-autosuggest__suggestions-container--open {
	display: block;
	position: absolute;
	top: 26px;
	max-height: 50vh;
	min-width: calc(10vw + 11px);
	overflow-y: auto;
	background-color: #909090;
	border-radius: 0 0 4px 4px;
	z-index: 2;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.react-autosuggest__suggestions-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.react-autosuggest__suggestion {
	cursor: pointer;
	padding: 3px 5px;
	border-bottom: 1px solid #808080;
}

.react-autosuggest__suggestion--highlighted {
	background-color: green;
}