#sidebar {
	background-color: #e9e9e9;
	border-color: black;
	border-style: solid;
	border-width: 1px;
	border-radius: 20px;
	padding: 10px;
	margin: 0px 0px 0px 5px;
	max-height: calc(85vh);
	overflow: auto;
}

#sidebar dl {
	line-height: '20px';
}

#sidebar dt {
	font-weight: 600;
}

.m-1 {
	margin: 1px;
	padding: 2px;
}

#searchButton {
	border-radius: 0px 4px 4px 0px;
	padding: 5px;
	margin-left: -1px;
}

input, select {
	color: green;
	cursor: pointer;
	margin: 0px 0.2em;
	padding: 0.3em 0.5em;
	border: 1px solid #808080;
	border-radius: 0.3em;
	transition: all 0.3s;
}

input[type="text"] {
	cursor: auto;
}

select {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

input[type="color"] {
	padding: 1px 0.2em;
	margin: 0px 0.2em 0px -0.4em;
	vertical-align: bottom;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

input[type="button"]:hover, input[type="color"]:hover {
	background-color: #9a9a9a;
}