body {
  background: #888;
}

h1 {
  margin: 0 5px;
  width: calc(20vw - 10px);
  text-align: center;
}

#graphController {
  width: 20vw;
}

#graphContainer {
  width: 80vw;
  height: 100vh;
}

#graphContainer {
  right: 0px;
  top: 0px;
  position: absolute;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: #777;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-button:single-button {
  background-color: transparent;
  display: block;
  border-style: solid;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 12px 5px;
  border-color: transparent transparent #555 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 12px 5px;
  border-color: #555 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777 transparent transparent transparent;
}

::-webkit-scrollbar-button:single-button:horizontal:decrement {
  border-width: 5px 12px;
  border-color: transparent #555 transparent transparent;
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
  border-color: transparent #777 transparent transparent;
}

::-webkit-scrollbar-button:single-button:horizontal:increment {
  border-width: 5px 12px;
  border-color: transparent transparent transparent #555;
}

::-webkit-scrollbar-button:horizontal:single-button:increment:hover {
  border-color: transparent transparent transparent #777;
}

::-webkit-scrollbar-corner {
  background: transparent;
}